<a href="https://colab.research.google.com/github/Valk-25/Marks_Adding_MiniProject/blob/main/marks_adding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/Mini Project - Marks Adding.csv')
df.head()

    Roll Num  Marks
0  102003542      1
1  102003640      1
2  102003725      1
3  102003307      1
4  102003458      1

In [3]:
df_combined=df.groupby('Roll Num',as_index=False).sum()

In [5]:
df_combined

      Roll Num  Marks
0    102003001      3
1    102003002      5
2    102003017      5
3    102003018      5
4    102003029      5
..         ...    ...
395  102196010      4
396  102197016      5
397  102197018      4
398  102197019      5
399  102197021      5

[400 rows x 2 columns]